# Hệ điều hành
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
.venv/
.vscode/

# Các tệp log và tạm thời
*.log
*.swp

# Tệp cấu hình IDE
.idea/
.vscode/

# Thư mục build
build/
dist/

# Các tệp nhạy cảm
.env
api_keys.json